.register-page{
    justify-content: center;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url('https://t3.ftcdn.net/jpg/04/84/36/98/240_F_484369865_uGrJURH8FtldtXF9C9SfGqgx2xj0oWWA.jpg');
    background-size: 400px;
    background-repeat: repeat;
    background-position: center center;
    min-height: 100vh; 
}